@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
}
body {
  background: #FFFFFF;
  color: #102746;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}

.header {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: auto;
  position: relative;
  z-index: 0;
  background: url(../img/main/bgHeader.jpg) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(53, 66, 103, 0.8), rgba(0, 0, 0, 0));
}

.wrapper {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
}

.menu {
  width: 100%;
  max-width: 1060px;
  margin-top: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

.nav-bar {
  width: 100%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
}
.about-us {
  max-width: 620px;
  margin-top: 96px;
}
.about-us__title {
  margin-bottom: 22px;
  line-height: 60px;
  font-weight: 500;
  font-size: 50px;
}
.about-us__text {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.search-form {
  display: flex;
  align-items: center;
}
.search-form__item {
  width: 100%;
  max-width: 298px;
  margin-right: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.search-form__item::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
}
.search-form__point {
  width: 20px;
  height: 20px;
  margin-right: 22px;
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.search-form__line {
  width: 100%;
  max-width: 226px;
  background: none;
  border: none;
}
.search-form__line::placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.search-form__btn {
  width: 172px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
}