@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
}
body {
  background: #FFFFFF;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}

.header {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  overflow: auto;
  background: url(../img/main/bgHeader.jpg) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(53, 66, 103, 0.8), rgba(0, 0, 0, 0));
}
.header .wrapper {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
}

.menu {
  width: 100%;
  max-width: 1060px;
  margin-top: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

.logo {
  position: relative;
}
.logo::before {
  content: "";
  height: 0;
  width: 3px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) skew(-30deg);
  box-shadow: -3px 0 7px rgba(0, 0, 0, 0.5);
}
.logo::after {
  content: "";
  height: 0;
  width: 3px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%) skew(-30deg);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
}
.logo:hover::after {
  height: 45%;
  right: -15px;
  transition: all 0.2s ease-in;
}
.logo:hover::before {
  height: 45%;
  left: -15px;
  transition: all 0.2s ease-in;
}

.nav-bar {
  width: 100%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__link {
  position: relative;
  cursor: pointer;
}
.nav-bar__link::before {
  content: "";
  height: 1px;
  width: 0;
  background: #FFFFFF;
  display: block;
  position: absolute;
  bottom: -7px;
  right: -7px;
  transform: skewX(-45deg);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
.nav-bar__link::after {
  content: "";
  height: 0;
  width: 1px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  bottom: -6px;
  right: -8px;
  transform: skewY(-45deg);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
}
.nav-bar__link:hover::after {
  height: 125%;
  transition: all 0.2s ease-in;
}
.nav-bar__link:hover::before {
  width: 125%;
  transition: all 0.2s ease-in;
}
.nav-bar__link:focus {
  outline: none;
}

.about-us {
  max-width: 620px;
  margin-top: 96px;
}
.about-us__title {
  margin-bottom: 22px;
  line-height: 60px;
  font-weight: 500;
  font-size: 50px;
}
.about-us__text {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.search-form {
  display: flex;
  align-items: center;
}
.search-form__item {
  width: 100%;
  max-width: 298px;
  margin-right: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.search-form #whatDo:focus ~ .search-form__point::after, .search-form #whatGo:focus ~ .search-form__point::after, .search-form #whatDo:hover ~ .search-form__point::after, .search-form #whatGo:hover ~ .search-form__point::after {
  width: 15px;
  height: 15px;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.search-form #whatDo:focus ~ .search-form__hover, .search-form #whatGo:focus ~ .search-form__hover, .search-form #whatDo:hover ~ .search-form__hover, .search-form #whatGo:hover ~ .search-form__hover {
  width: 100%;
  transition: all 0.2s ease-in;
}
.search-form__point {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  z-index: 0;
  margin-right: 22px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}
.search-form__point::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #FFFFFF;
  opacity: 0;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.search-form__line {
  width: 100%;
  max-width: 226px;
  display: block;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.search-form__line::placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.search-form__line:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in;
}
.search-form__hover {
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  background: #FFFFFF;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
.search-form__btn {
  width: 172px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  box-shadow: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
}
.search-form__btn:hover {
  background: #FFFFFF;
  color: #1B7DFF;
  border-radius: 50px;
}
.search-form__btn:active {
  box-shadow: inset 0 0px 7px 2.5px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}