@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
}
body {
  background: #FFFFFF;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}

.header {
  width: 100%;
  height: 100vh;
  display: block;
  padding-bottom: 200px;
  position: relative;
  overflow: auto;
  background: url(../img/main/bgHeader.jpg) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(53, 66, 103, 0.8), rgba(0, 0, 0, 0));
}
.header-case {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
}

.menu {
  width: 100%;
  max-width: 1060px;
  margin: 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

.logo {
  position: relative;
}
.logo::before {
  content: "";
  height: 0;
  width: 4px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) skew(-30deg);
  box-shadow: -3px 0 7px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in;
}
.logo::after {
  content: "";
  height: 0;
  width: 4px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%) skew(-30deg);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in;
}
.logo:hover::after {
  height: 45%;
  right: -15px;
}
.logo:hover::before {
  height: 45%;
  left: -15px;
}

.nav-bar {
  width: 100%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__link {
  position: relative;
  cursor: pointer;
}
.nav-bar__link::before {
  content: "";
  height: 1px;
  width: 0;
  background: #FFFFFF;
  display: block;
  position: absolute;
  bottom: -7px;
  right: -7px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in;
}
.nav-bar__link::after {
  content: "";
  height: 0;
  width: 1px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  bottom: -6px;
  right: -8px;
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in;
}
.nav-bar__link:hover::after {
  height: 125%;
}
.nav-bar__link:hover::before {
  width: 125%;
}

.about-us {
  max-width: 620px;
  height: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.about-us__title {
  margin-bottom: 22px;
  line-height: 60px;
  font-weight: 500;
  font-size: 50px;
}
.about-us__text {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 50px 0 50px;
}
.search-form__item {
  width: 100%;
  max-width: 298px;
  margin-right: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.search-form #whatDo:focus ~ .search-form__point::after, .search-form #whatGo:focus ~ .search-form__point::after, .search-form #whatDo:hover ~ .search-form__point::after, .search-form #whatGo:hover ~ .search-form__point::after {
  width: 14px;
  height: 14px;
  opacity: 1;
}
.search-form #whatDo:focus ~ .search-form__hover, .search-form #whatGo:focus ~ .search-form__hover, .search-form #whatDo:hover ~ .search-form__hover, .search-form #whatGo:hover ~ .search-form__hover {
  width: 100%;
}
.search-form__point {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  z-index: 0;
  margin-right: 22px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}
.search-form__point::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #FFFFFF;
  opacity: 0;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.2s ease-in;
}
.search-form__line {
  width: 100%;
  max-width: 226px;
  display: block;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.search-form__line::placeholder {
  color: #FFFFFF;
  transition: all 0.2s ease-in;
  font-weight: 500;
  font-size: 18px;
}
.search-form__line:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search-form__hover {
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  background: #FFFFFF;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}

.main {
  width: 100%;
  height: auto;
}
.main-case {
  max-width: 1060px;
  padding-top: 350px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.main-btn {
  width: 172px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  box-shadow: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
}
.main-btn:hover {
  background: #FFFFFF;
  color: #1B7DFF;
  border-radius: 50px;
}
.main-btn:active {
  box-shadow: inset 0 0px 7px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

.hover-link {
  display: flex;
  align-items: center;
  position: relative;
}
.hover-link::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #006DFE;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.hover-link__title {
  color: #006DFE;
  font-weight: 400;
  font-size: 16px;
}
.hover-link__line {
  width: 0px;
  height: 2px;
  display: block;
  position: relative;
  background: #006DFE;
  transform: translateX(15px);
  transition: all 0.3s ease-in;
}
.hover-link__line::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left: 8px solid #006DFE;
}
.hover-link:hover .hover-link__line {
  width: 30px;
  transform: translateX(40px);
}
.hover-link:hover::after {
  opacity: 1;
}

.main-title {
  position: relative;
  color: #102746;
  display: inline;
  font-weight: 500;
  font-size: 35px;
}
.main-title::after {
  content: "";
  width: 50%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #006DFE;
}

.benefits {
  width: 100%;
  height: 550px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: absolute;
  top: -200px;
  left: 0;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
}
.benefits__title {
  margin: 90px 0px 0px 100px;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
}

.articles {
  margin: 0px 100px 90px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
.articles__item {
  max-width: 250px;
  height: 250px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.articles__logo {
  width: 50px;
  height: 50px;
}
.articles__title {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.articles__text {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.articles__link {
  width: 178px;
}

.places {
  width: 100%;
  margin-top: 100px;
}
.places__header {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.places__link {
  width: 148px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.gallery__item {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.gallery__item:nth-child(1) {
  grid-area: 1/1/2/4;
}
.gallery__item:nth-child(2) {
  grid-area: 1/4/2/7;
}
.gallery__item:nth-child(3) {
  grid-area: 2/1/3/3;
}
.gallery__item:nth-child(4) {
  grid-area: 2/3/3/5;
}
.gallery__item:nth-child(5) {
  grid-area: 2/5/3/7;
}
.gallery__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, #151824, rgba(255, 255, 255, 0));
}
.gallery__item:hover .gallery__img, .gallery__item:focus .gallery__img, .gallery__item:active .gallery__img {
  transform: scale(1.1);
}
.gallery__item:hover .gallery__name::after, .gallery__item:focus .gallery__name::after, .gallery__item:active .gallery__name::after {
  width: 100%;
}
.gallery__img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;
}
.gallery__name {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
  color: #FFFFFF;
  transition: all 0.2s ease-in;
  font-weight: 700;
  font-size: 35px;
}
.gallery__name::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
  transition: all 0.2s ease-in;
}

.details {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}
.details__img {
  width: 100%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.details__about {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.details__title {
  color: #102746;
  font-weight: 500;
  font-size: 30px;
}
.details__text {
  line-height: 24px;
  color: #102746;
  font-weight: 400;
  font-size: 16px;
}
.details__link.first {
  width: 220px;
}
.details__link.second {
  width: 255px;
}

.visit {
  width: 100%;
  margin-top: 100px;
}
.visit__header {
  width: 100%;
  margin-bottom: 40px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.table__item {
  width: 100%;
}
.table__item:hover .table-card__img {
  transform: scale(1.1);
}
.table__item-txt {
  margin: 30px 0 30px;
  line-height: 24px;
  color: #102746;
  font-weight: 400;
  font-size: 16px;
}

.item-btn {
  width: 120px;
  height: 40px;
  border: 2px solid #1B7DFF;
  font-weight: 500;
  font-size: 16px;
}
.item-btn:active {
  box-shadow: inset 0 0px 3px 0.5px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

.table-card {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.table-card__img {
  width: 100%;
  transition: all 0.2s ease-in;
}
.table-card__sup-line {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.table-card__name {
  font-weight: 500;
  font-size: 18px;
}
.table-card__case {
  min-width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-card__case_in b {
  margin-right: 5px;
}

.props {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 100px;
}
.props::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #151824;
  opacity: 40%;
}
.props .props__img {
  width: 100%;
}
.props .props__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0);
  font-size: 125px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.05s linear;
}
.props .props__btn:hover {
  color: #1B7DFF;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), -2px -2px 0 rgba(0, 0, 0, 0.2), -2px 2px 0 rgba(0, 0, 0, 0.2), 2px -2px 0 rgba(0, 0, 0, 0.2);
}
.props .props__btn:active {
  font-size: 120px;
}

.footer {
  width: 100%;
  height: 370px;
  background: #0E1D28;
}
.footer-case {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo:hover::after {
  width: 6px;
  height: 45%;
  right: -20px;
}
.footer-logo:hover::before {
  width: 6px;
  height: 45%;
  left: -20px;
}

.footer-list {
  display: flex;
}
.footer-list__column {
  display: flex;
  flex-flow: column wrap;
  margin-left: 140px;
}
.footer-list__column:first-child {
  margin-left: 0;
}
.footer-list__link {
  position: relative;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.1s linear;
}
.footer-list__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: #1B7DFF;
  position: absolute;
  bottom: -1px;
  left: 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}
.footer-list__link:hover {
  color: #1B7DFF;
}
.footer-list__link:hover::after {
  width: 100%;
}