/* SIZE FOR SMALL MONITORS */
@media (max-width: 1099.98px) {
/* HEADER */
  .header {
    padding-bottom: 0;
    &-case {
      max-width: none;
    }
  }

/* HEADER > MENU */
  .menu {
    flex-flow: column nowrap;
  }
  .header-logo {
    margin-bottom: 25px;
  }
  .nav-bar {
    max-width: 60%;
  }

/* HEADER > MENU > LOGO */
  .header-logo, .footer-logo {
    width: auto;
    height: 58px;
    .logo__img {
      width: 100%;
      height: 100%;
    }
  }

/* HEADER > SEARCH-FORM */
  .search-form {
    height: 111px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    &__item {
      margin-right: 0;
      &:nth-child(1) {
        margin-right: 12.5px;
      }
      &:nth-child(2) {
        margin-left: 12.5px;
      }
    }
    &__btn {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate3d(-50%, -100%, 0);
    }
  }

/* MAIN */
  .main-case {
    max-width: none;
    padding: 0 50px 0;
  }

/* MAIN > BENEFITS */
  .benefits{
    max-width: none;
    position: static;
    transform: translateX(0);
  }

/* FOOTER */
  .footer-case {
    max-width: none;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .footer-logo {
    margin-bottom: 50px;
    order: 1;
  }
  .footer-list {
    margin: 50px 0 25px;
  }
}

/* SIZE FOR TABLETS */
@media (max-width: 991.98px) {
/* MAIN > DETAILS */
  .details__about {
    justify-content: space-between;
  }

/* FOOTER */
  .footer-list {
    margin: 50px 0 25px;
  }
}

/* INTERMEDIATE CORRECTION POINT */
@media (max-width: 879.98px) {
/* FONT SIZE SETTING */
  html, body {
    .header, .hover-link, .footer {
      font-size: 16px;
    }
    .columns, .details, .props {
      font-size: 14px;
    }
    .gallery {
      font-size: 12px;
    }
  }

/* MAIN > DETAILS */
  .details {
    gap: 30px;
  }

/* MAIN > VISIT */
  .table {
    font-size: 16px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
    &__item {
      width: 100%;
      display: grid;
      &:nth-child(even) {
        justify-items: flex-end;
      }
    }
  }
}

/* SIZE FOR MEDIUM PHONE */
@media (max-width: 767.98px) {
/* HEADER */
  .header-case {
    justify-content: flex-end;
  }

/* HEADER > MENU */
  .menu {
    max-width: none;
    height: 100px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(21, 24, 36, 1), rgba(21, 24, 36, 0));
  }
  .header-logo {
    left: 50px;
    margin-bottom: 0;
    transition: opacity 0.3s linear;
  }
  .nav-bar {
    height: 50vh;
    max-width: none;
    padding: 30px 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -60vh;
    z-index: 1;
    transition: all 0.3s linear;
    background: linear-gradient(180deg, rgba(21, 24, 36, 1), rgba(255, 255, 255, 0));
    font-size: 24px;
    &__link {
      margin: 10px 0;
    }
  }
  .menu__btn, #menu__toggle {
    display: block;
  }

/* HEADER > ABOUT-US */
.about-us {
  margin-top: 75px;
}

/* HEADER > SEARCH-FORM */
  .search-form {
    height: 175px;
    margin-top: 20%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    &__item {
      max-width: 278px;
      &:nth-child(1) {
        margin: 0 0 20px 0;
      }
      &:nth-child(2) {
        margin-left: 0;
      }
    }
    &__hover {
      bottom: -10px;
    }
  }

/* GLOBAL MAIN SELECTORS */
  .anchor {
    &#places { top: -100px; }
    &#visit { top: -50px; }
    &#props { top: 50px; }
  }
  .places, .details, .visit, .props {
    margin-top: 50px;
  }

/* MAIN > BENEFITS */
  .benefits {
    height: auto;
    &__title {
      margin: 50px 0 25px;
    }
    .columns {
      font-size: 16px;
    }
  }

/* BENEFITS > COLUMNS */
  .columns {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 75px 25px;
    &__item {
      max-width: none;
      max-height: 210px;
      position: relative;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin: 0;
      }
      &:nth-child(2) {
        grid-area: 1/2/3/3;
      }
    }
    &__title {
      position: absolute;
      top: 25px;
      left: 75px;
      transform: translateY(-50%);
    }
  }

/* MAIN > PLACES > ITEM-CASE */
  .gallery {
    grid-template: auto / repeat(4, auto);
    gap: 75px 0;
    &__item {
      position: relative;
      transition: all 0.2s ease-in;
      &:nth-child(1) {
        grid-area: 1/1/2/3;
        z-index: 1;
      }
      &:nth-child(2) {
        grid-area: 1/2/2/4;
        z-index: 2;
        top: 25px;
      }
      &:nth-child(3) {
        grid-area: 1/3/2/5;
        z-index: 3;
        top: 50px;
      }
      &:nth-child(4) {
        grid-area: 2/1/3/3;
        z-index: 4;
      }
      &:nth-child(5) {
        grid-area: 2/2/3/4;
        z-index: 5;
        top: 25px;
      }
      &:hover, &:active {
        transform: scale(1.1);
        z-index: 10;
      }
    }
  }

/* MAIN > DETAILS */
  .details {
    align-items: center;
    &__text {
      margin: 30px 0;
    }
  }
}

/* INTERMEDIATE CORRECTION POINT */
@media (max-width: 671.98px) {
/* MAIN > DETAILS */
  .details {
    margin-top: 50px;
    position: relative;
    grid-template: repeat(2, auto) / auto;
    gap: 25px 0;
    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      z-index: 1;
      &:first-child {
        grid-area: 1/1/2/2;
      }
      &:last-child {
        grid-area: 2/1/3/2;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(21, 24, 36, 1), rgba(255, 255, 255, 0));
      }
    }
    &__about {
      width: auto;
      height: auto;
      padding: 30px;
      justify-content: center;
      position: relative;
      z-index: 2;
      &:first-child {
        grid-area: 1/1/2/2;
      }
      &:last-child {
        grid-area: 2/1/3/2;
      }
    }
    &__title, &__text {
      color: #FFFFFF;
    }
    &__title, .hover-link__title {
      font-weight: 700;
    }
  }

/* MAIN > VISIT > TABLE */
  .table {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: 14px;
    gap: 25px;
    &__item-txt {
      margin: 15px 0;
    }
    &-card {
      &__name {
        font-size: 1em;
      }
      &__case {
        min-width: auto;
        &_in:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}

/* SIZE FOR SMALL PHONE */
@media (max-width: 575.98px) {
/* HEADER */
  .header-case {
    justify-content: center;
    padding: 0 25px 0;
  }
/* HEADER > MENU */
  .header-logo {
    left: 25px;
  }
  .menu__btn{
    right: 25px;
  }

/* HEADER > SEARCH-FORM */
  .search-form {
    height: auto;
    margin: 50px 0 100px 0;
  }
  .search-form__btn {
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

/* MAIN */
  .main-case {
    padding: 0 25px 0;
  }

/* MAIN > BENEFITS */
  .benefits-case {
    margin: 0 25px;
  }
  .columns__text::first-letter {
    margin-left: 15px;
  }

/* MAIN > BENEFITS > COLUMNS */
  .columns {
    grid-template-columns: repeat(1, auto);
    gap: 0;
    &__item {
      height: auto;
      max-height: none;
      justify-content: flex-start;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        grid-area: auto;
      }
      &:nth-child(2) {
        margin: 30px 0;
      }
    }
    &__text {
      margin: 15px 0;
    }
  }

/* MAIN > PLACES > ITEM-CASE */
  .gallery {
    overflow: hidden;
    position: relative;
    width: calc(100% + 50px);
    left: -25px;
    grid-template: repeat(8, auto) / auto;
    gap: 0;
    &__item {
      height: auto;
      width: 70%;
      min-width: 280px;
      position: relative;
      box-shadow: none;
      transition: all 0.2s ease-in;
      border: 4px solid #FFFFFF;
      &:nth-child(odd) {
        border-left: none;
      }
      &:nth-child(even) {
        justify-self: flex-end;
        border-right: none;
      }
      &:nth-child(1) {
        grid-area: 1/1/5/2;
        z-index: 1;
        top: 0;
      }
      &:nth-child(2) {
        grid-area: 2/1/6/2;
        z-index: 1;
        top: 0;
      }
      &:nth-child(3) {
        grid-area: 3/1/7/2;
        z-index: 1;
        top: 0;
      }
      &:nth-child(4) {
        grid-area: 4/1/8/2;
        z-index: 1;
        top: 0;
      }
      &:nth-child(5) {
        grid-area: 5/1/9/2;
        z-index: 1;
        top: 0;
      }
      &:hover, &:active {
        transform: scale(1.1);
        z-index: 6;
      }
    }
    &__name {
      top: 5%;
      left: 10%;
      &.even {
        left: auto;
        right: 10%;
      }
      &::after {
        top: 30px;
      }
    }
  }
/* MAIN > DETAILS */
  .details {
    position: relative;
    width: calc(100% + 50px);
    left: -25px;
  }
}

@media (max-width: 425px) {
/* HEADER > ABOUT-US */
  .about-us {
    font-size: 16px;
    &__title {
      font-size: 2.1875em;
    }
    &__text {
      font-size: 1em;
    }
  }

/* HEADER > SEARCH-FORM */
  .search-form {
    align-items: center;
    &__item {
      justify-content: center;
    }
    &__point {
      display: none;
    }
  }

/* MAIN > PLACES */
  .places__header {
    margin-bottom: 20px;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    .main-title {
      align-self: flex-start;
      width: 100%;
    }
    .places__link {
      margin-top: 20px;
      align-self: flex-end;
    }
  }

/* MAIN > VISIT */
.visit__header {
  .main-title {
    display: block;
  }
}

/* MAIN > VISIT > TABLE */
  .table {
    font-size: 16px
  }

/* MAIN > PROPS */
  .props {
  height: calc(0.5*100vh);
  }

/* FOOTER */
  .footer {
    height: calc(0.5*100vh);
  }
  .footer-case {
    padding: 0 15px 0;
    justify-content: space-around;
  }
  .footer-list {
    margin: 50px 0 75px;
    &__column:nth-child(2) {
        position: relative;
        top: 25px;
    }
    &__column:nth-child(3) {
        position: relative;
        top: 50px;
    }
  }
}

/* WARNING!!! ЗОНА КОСТЫЛЕЙ!!! */
@media (max-height: 680px) {
/* MAIN > PROPS */
  .props {
    height: calc(0.4*100vh);
  }
/* FOOTER */
  .footer {
    height: auto;
  }
}

@media (max-height: 599.98px) {
/* HEADER */
  .header {
    height: auto;
  }
/* HEADER > MENU > NAV-BAR */
  .nav-bar {
    top: -100vh;
  }
}

@media (max-width: 300px) {
/* MAIN > DETAILS */
  .details__about {
    padding: 25px 10px;
  }

/* FOOTER */
  .footer {
    height: auto;
  }
  .footer-list {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-top: 25px;
  }
  .footer-logo{
    order: 0;
    margin: 25px 0 0 0;
  }
}
