@import "./fonts";

// MAIN CONFIGS
body {
  background: #FFFFFF;
  color: #102746;
  text-decoration: none;
  font: {
    family: "Lato";
    weight: 400;
    size: 16px;
  }
}

// HEADER
.header {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: auto;
  position: relative;
  z-index: 0;
  background: url(../img/main/bgHeader.jpg) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(53,66,103, 0.8), rgba(0,0,0,0));
  }
}
.wrapper {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.menu {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: {
    family: "Lato";
    weight: 400;
    size: 18px;
  }
}
.logo {
  &__img {
  }
}
.nav-bar {
  &__link {
  }
}
.about-us {
  &__title {
  }
  &__text {
  }
}
