@import "./fonts";

/* BODY CONFIGS */
html, body {
  background: #FFFFFF;
  font: {
    family: "Lato";
    weight: 400;
    size: 16px;
  }
}
/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  padding-bottom: 200px;
  position: relative;
  overflow: auto;
  background: url(../img/main/bgHeader.jpg) center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(53,66,103, 0.8), rgba(0,0,0,0));
  }
  &-case {
    max-width: 1060px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
}

/* HEADER > MENU */
.menu {
  width: 100%;
  max-width: 1060px;
  margin: 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  font: {
    weight: 400;
    size: 1.125em;
  }
/* CSS КОСТЫЛЬ (CRUTCH) FOR BURGER-MENU*/
  #menu__toggle:checked {
    & ~ .menu__btn span {
      transform: rotate(45deg);
      background: #1B7DFF;
      &::after {
        top: 0;
        width: 40px;
        transform: rotate(-90deg);
        background: #1B7DFF;
      }
      &::before {
        top: 0;
        width: 40px;
        transform: rotate(-90deg);
        background: #1B7DFF;
      }
    }
    & ~ .nav-bar {
      display: flex;
      top: 0;
    }
    & ~ .header-logo{
      opacity: 0;
    }
  }
}

/* HEADER > MENU > LOGO */
.logo {
  position: relative;
  &::before {
    content: "";
    height: 0;
    width: 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%) skew(-30deg);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    transition: all 0.15s ease-in;
    background: #FFFFFF;
  }
  &::after {
    content: "";
    height: 0;
    width: 6px;
    display: block;
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%) skew(-30deg);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    transition: all 0.15s ease-in;
    background: #FFFFFF;
  }
  &:hover::after {
    height: 45%;
    right: -15px;
  }
  &:hover::before {
    height: 45%;
    left: -15px;
  }
}

/* INPUT SETTINGS */
#menu__toggle {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.3s linear 0.3s;
}

/* BURGER-MENU */
.menu__btn {
  display: none;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 2;
  right: 50px;
  cursor: pointer;
  span {
    display: block;
    width: 40px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition-duration: .3s;
    background: #FFFFFF;
    border-radius: 15px;
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 6px;
      position: absolute;
      top: -16px;
      right: 0;
      transition-duration: .3s;
      background: #FFFFFF;
      border-radius: 15px;
    }
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 6px;
      position: absolute;
      bottom: -16px;
      right: 0;
      transition-duration: .3s;
      background: #FFFFFF;
      border-radius: 15px;
    }
  }
}

/* HEADER > MENU > NAV-BAR */
.nav-bar {
  width: 100%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      height: 1px;
      width: 0;
      display: block;
      position: absolute;
      top: -3px;
      left: -10%;
      transition: all 0.15s ease-in;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
      background: #FFFFFF;
    }
    &::before {
      content: "";
      height: 1px;
      width: 0;
      display: block;
      position: absolute;
      bottom: -5px;
      right: -10%;
      transition: all 0.15s ease-in;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
      background: #FFFFFF;
    }
    &:hover::after, &:hover::before {
      width: 120%;
    }
  }
}

/* HEADER > ABOUT-US */
.about-us {
  max-width: 620px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  &__title {
    margin-bottom: 22px;
    line-height: 1.2;
    font: {
      weight: 500;
      size: 3.125em;
    }
  }
  &__text {
    line-height: 1.5;
    font: {
      weight: 400;
      size: 1em;
    }
  }
}

/* HEADER > SEARCH-FORM */
.search-form {
  width: 100%;
  margin: 50px 0 50px;
  display: flex;
  align-items: center;
  &__item {
    width: 100%;
    max-width: 298px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
  }
  #whatDo:focus, #whatGo:focus, #whatDo:hover, #whatGo:hover {
    & ~ .search-form__point::after {
      width: 14px;
      height: 14px;
      opacity: 1;
    }
    & ~ .search-form__hover {
      width: 100%;
    }
  }
  &__point {
    width: 20px;
    height: 20px;
    margin-right: 22px;
    display: block;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.2s ease-in;
      background: #FFFFFF;
      border-radius: 50%;
      opacity: 0;
    }
  }
  &__line {
    width: 100%;
    max-width: 226px;
    display: block;
    background: none;
    border: none;
    color: rgba(255,255,255, 1);
    &::-webkit-input-placeholder {
      color: #FFFFFF;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      font: {
        weight: 500;
        size: 1.125em;
      }
    }
    &::-moz-placeholder {
      color: #FFFFFF;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      font: {
        weight: 500;
        size: 1.125em;
      }
    }
    &:-ms-input-placeholder {
      color: #FFFFFF;
      -ms-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      font: {
        weight: 500;
        size: 1.125em;
      }
    }
    &::-ms-input-placeholder {
      color: #FFFFFF;
      -ms-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      font: {
        weight: 500;
        size: 1.125em;
      }
    }
    &::placeholder {
      color: #FFFFFF;
      transition: all 0.2s ease-in;
      font: {
        weight: 500;
        size: 1.125em;
      }
    }
    &:focus::-webkit-input-placeholder {
      color: rgba(255,255,255, 0.5);
    }
    &:focus::-moz-placeholder {
      color: rgba(255,255,255, 0.5);
    }
    &:focus:-ms-input-placeholder {
      color: rgba(255,255,255, 0.5);
    }
    &:focus::-ms-input-placeholder {
      color: rgba(255,255,255, 0.5);
    }
    &:focus::placeholder {
      color: rgba(255,255,255, 0.5);
    }
  }
  &__hover {
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s ease-in;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    background: #FFFFFF;
  }
}

/* GLOBAL MAIN SELECTORS */
.anchor {
  position: relative;
  top: 75px;
  visibility: hidden;
  &:nth-child(3) {
    top: 100px;
  }
}

.main-btn {
  width: 172px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  box-shadow: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  font: {
    weight: 500;
    size: 1.5em;
  }
  &:hover {
    background: #FFFFFF;
    color: #1B7DFF;
    border-radius: 50px;
  }
  &:active {
    box-shadow: inset 0 0px 7px 1px  rgba(0,0,0,0.5);
    transition: all 0.1s linear;
  }
}

.hover-link {
  display: flex;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #006DFE;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  &__title {
    color: #006DFE;
    font: {
      weight: 400;
      size: 1em;
    }
  }
  &__line {
    width: 0px;
    height: 2px;
    display: block;
    position: relative;
    background: #006DFE;
    transform: translateX(15px);
    transition: all 0.3s ease-in;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      border: 5px solid transparent;
      border-left: 8px solid #006DFE;
    }
  }
  &:hover {
    .hover-link__line {
      width: 30px;
      transform: translateX(40px);
    }
    &::after {
      opacity: 1;
    }
  }
}

.main-title {
  display: inline;
  position: relative;
  color: #102746;
  font: {
    weight: 500;
    size: 2.1875em;
  }
  &::after {
    content: "";
    width: 50%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #006DFE;
  }
}

/* MAIN */
.main {
  width: 100%;
  position: relative;
  z-index: 0;
  &-case {
    max-width: 1060px;
    padding: 350px 50px 0;
    margin: 0 auto;
    position: relative;
  }
}

/* MAIN > BENEFITS */
.benefits {
  width: 100%;
  height: 550px;
  max-width: 1060px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  background: #FFFFFF;
  &-case {
    width: 100%;
    max-width: 860px;
    height: 100%;
    margin: 0 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  &__title {
    margin-top: 90px;
    font: {
      weight: 500;
      size: 2.1875em;
    }
    color: #102746;
  }
}

/* MIAN > BENEFITS > COLUMNS */
.columns {
  width: 100%;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  &__item {
    max-width: 250px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    &:nth-child(2) {
      margin: 0 25px;
    }
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  &__title {
    font: {
      weight: 500;
      size: 1.125em;
    }
    color: #000000;
  }
  &__text {
    line-height: 1.5;
    font: {
      weight: 400;
      size: 1em;
    }
    color: #000000;
  }
  &__link {
    width: 178px;
  }
}

/* MAIN > PLACES */
.places {
  width: 100%;
  margin-top: 100px;
  &__header {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    width: 148px;
  }
}

/* MIAN > PLACES > ITEM-CASE */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  &__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    cursor: pointer;
    &:nth-child(1) {
      grid-area: 1/1/2/4;
    }
    &:nth-child(2) {
      grid-area: 1/4/2/7;
    }
    &:nth-child(3) {
      grid-area: 2/1/3/3;
    }
    &:nth-child(4) {
      grid-area: 2/3/3/5;
    }
    &:nth-child(5) {
      grid-area: 2/5/3/7;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(0deg, rgba(21, 24, 36, 1), rgba(255, 255, 255, 0));
    }
    &:hover, &:focus, &:active {
      .gallery__img {
        transform: scale(1.1);
      }
      .gallery__name::after {
        width: 100%;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
  }
  &__name {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    color: #FFFFFF;
    transition: all 0.2s ease-in;
    font: {
      weight: 700;
      size: 2.1875em;
    }
    &::after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -8px;
      left: 0;
      z-index: 1;
      background: #FFFFFF;
      transition: all 0.2s ease-in;
    }
  }
}

/* MAIN > DETAILS */
.details {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  &__img {
    width: 100%;
    max-height: 354px;
    height: 30vw;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    .img {
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) .img {
      background: url(../img/places/temple.jpg) center no-repeat;
      background-size: cover;
    }
    &:nth-child(4) .img {
      background: url(../img/places/stairs.jpg) center no-repeat;
      background-size: cover;
    }
  }
  &__about {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__title {
    color: #102746;
    font: {
      weight: 500;
      size: 1.875em;
    }
  }
  &__text {
    line-height: 1.5;
    color: #102746;
    font: {
      weight: 400;
      size: 1em;
    }
  }
  &-link_first {
    width: 220px;
  }
  &-link_second {
    width: 255px;
  }
}

/* MIAN > VISIT */
.visit {
  width: 100%;
  margin-top: 100px;
  &__header {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* MIAN > VISIT > TABLE */
.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  &__item {
    width: 100%;
    &:hover {
      .table-card__img {
        transform: scale(1.1);
      }
    }
  }
  &__item-txt {
    margin: 30px 0;
    line-height: 1.5;
    color: #102746;
    font: {
      weight: 400;
      size: 1em;
    }
  }
}
.item-btn {
  width: 120px;
  height: 40px;
  border: 2px solid #1B7DFF;
  font: {
    weight: 500;
    size: 1em;
  }
  &:active {
    box-shadow: inset 0 0px 3px 0.5px rgba(0,0,0,0.5);
    transition: all 0.1s linear;
  }
}

/* MIAN > VISIT > TABLE > TABLE-CARD */
.table-card {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  &__img {
    width: 100%;
    transition: all 0.2s ease-in;
  }
  &__sup-line {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
  }
  &__name {
    font: {
      weight: 500;
      size: 1.125em;
    }
  }
  &__case {
    min-width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_in b {
      margin-right: 5px;
    }
  }
}

/* MAIN > PROPS */
.props {
width: 100%;
height: calc(0.6*100vh);
display: block;
position: relative;
margin-top: 100px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #151824;
    opacity: 40%;
  }
  .props__img {
    height: 100%;
    width: 100%;
    background: url(../img/main/bgFooter.jpg) center no-repeat;
    background-size: cover;
  }
  .props__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    font-size: 7.8125em;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.05s linear;
    &:hover {
      color: #1B7DFF;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.2),-2px -2px 0 rgba(0,0,0,0.2),
                  -2px 2px 0 rgba(0,0,0,0.2), 2px -2px 0 rgba(0,0,0,0.2);
    }
    &:active {
      font-size: 7.5em;
    }
  }
}

/* FOOTER */
.footer {
  width: 100%;
  height: calc(0.4*100vh);
  background: #0E1D28;
  &-case {
    max-width: 1060px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    &:hover::after {
      width: 6px;
      height: 45%;
      right: -20px;
    }
    &:hover::before {
      width: 6px;
      height: 45%;
      left: -20px;
    }
  }

}
.footer-list {
  width: 100%;
  max-width: 553px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  &__column {
    display: flex;
    flex-flow: column wrap;
  }
  &__link {
    position: relative;
    line-height: 1.5;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
    transition: all 0.1s linear;
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 0;
      background: #1B7DFF;
      position: absolute;
      bottom: -1px;
      left: 0;
      box-shadow: 0 3px 7px rgba(0,0,0,0.5);
      transition: all 0.2s ease-in;
    }
    &:hover {
      color: #1B7DFF;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

@import '_queries.scss';
